.playerChoices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

}

.playerChoices button {
  margin: 1.5rem;
  font-size: 2.5rem;
  display: flexbox;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 35%;
  background-color: rgb(154, 121, 187);
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 50px;
}

.playerChoices button:hover {
  background-color: rgb(132, 78, 186);
  font-size: 500%;
  transition: 0.4s;
}
#winner {
  font-size: 4rem;
}

.gamePlay {
  font-size: larger;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin-top: 10%;
  font-size: 2.5rem;
}

body {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
  
    background-color: rgb(202, 200, 200);
}

.greenTxt,
#playerPoints {
  color: green;
}

.redTxt,
#computerPoints {
  color: red;
}

.scoreCount {
  margin-top: 100px;
}
.scorePlayer,
.scoreComputer,
.tieScore {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .playerChoices button {
    width: 4rem;
    height: 4rem;
    font-size: 1.5rem;
    margin: 1.5rem;
  }
}

